
@mixin light-component {
  border: 1px solid #efefee;
  box-shadow: 0 0 7px 4px #efefee;
  border-radius: 5px;
}

@mixin btn-konsole{
  button,
  .button-link
  {
    font-size: 1.5rem;
    min-width: 100%;
    width: max-content;
    margin: 0.2rem 0;
  }
  button:hover,.button-link:hover{
    color: #25ff03;
    background-color: #262655;
  }
}
