
#contattaci>div{
    @include light-component;
    h1{
        font-size: 1.7rem;
        padding: 1rem 0.8rem;
        border-bottom: 1px solid #a8a6a6;
        border-radius: 5rem;
        text-align: center;
    }
}
